<div id="identity-section" class="sub-section">
    <p class="sub-section-title">IDENTITAS PASIEN</p>
    <div style="display: flex; flex-direction: row; gap: 24px; justify-content: space-between; width: 100%;">
        <div style="flex:1;">
            <ul class="group-info">
                <li>
                    <p class="group-info-label" style="font-weight: bold;">NIK</p>
                    <p class="group-info-value">: {{ patient_data.nik }}</p>
                </li>
                <li>
                    <p class="group-info-label" style="font-weight: bold;">Nama</p>
                    <p class="group-info-value">: {{ patient_data.nama }}</p>
                </li>
                <li>
                    <p class="group-info-label" style="font-weight: bold;">Tanggal Lahir</p>
                    <p class="group-info-value">: {{ patient_data.tanggal_lahir }}</p>
                </li>
                <li>
                    <p class="group-info-label" style="font-weight: bold;">Jenis Kelamin</p>
                    <p class="group-info-value">: {{ patient_data.jenis_kelamin }}</p>
                </li>
                <li>
                    <p class="group-info-label" style="font-weight: bold;">Kelompok</p>
                    <p class="group-info-value">: {{ patient_data.kelompok }}</p>
                </li>
                <li>
                    <p class="group-info-label" style="font-weight: bold;">Tanggal Pemeriksaan</p>
                    <p class="group-info-value">: {{ patient_data.checkin_date }}</p>
                </li>
            </ul>
        </div>
        
        {% if is_show_photo and patient_data.patient_photo_url is not none %}
        <div class="info-right" style=" width: 15%;">
            <img src="{{ patient_data.patient_photo_url }}" alt="Patient Photo" style="width: 100%;">
        </div>
        {% endif %}
    </div>
</div>