<div class="sub-section" id="laboratory-identity-section">
    <p class="sub-section-title" style="color: rgb(13, 52, 131); text-decoration: none;">LABORATORY TEST RESULT</p>
    <div style="display: flex; flex-direction: row; gap: 24px; justify-content: space-between; width: 100%;">
        <div style="flex:1;">
            <ul class="group-info">
                <li>
                    <p class="group-info-label" style="font-weight: bold;">No. Barcode Sample</p>
                    <p class="group-info-value">: {{ lab_header_data.no_barcode }}</p>
                </li>
                <li>
                    <p class="group-info-label" style="font-weight: bold;">Jenis Kelamin</p>
                    <p class="group-info-value">: {{ lab_header_data.jenis_kelamin }}</p>
                </li>
                <li>
                    <p class="group-info-label" style="font-weight: bold;">Tgl. Lahir</p>
                    <p class="group-info-value">: {{ lab_header_data.tgl_lahir or lab_header_data.tanggal_lahir }}</p>
                </li>
                <li>
                    <p class="group-info-label" style="font-weight: bold;">Alamat</p>
                    <p class="group-info-value">: {{ lab_header_data.alamat }}</p>
                </li>
            </ul>
        </div>
        <div style="flex:1;">
            <ul class="group-info">
                <li>
                    <p class="group-info-label" style="font-weight: bold;">Nama</p>
                    <p class="group-info-value">: {{ lab_header_data.nama }}</p>
                </li>
                <li>
                    <p class="group-info-label" style="font-weight: bold;">Telepon/HP</p>
                    <p class="group-info-value">: {{ lab_header_data.nohp }}</p>
                </li>
                <li>
                    <p class="group-info-label" style="font-weight: bold;">Tanggal Periksa</p>
                    <p class="group-info-value">: {{ lab_header_data.tanggal_periksa }}</p>
                </li>
                <li>
                    <p class="group-info-label" style="font-weight: bold;">Lokasi Pengambilan Spesimen</p>
                    <p class="group-info-value">: {{ lab_header_data.lokasi_pengambilan }}</p>
                </li>
            </ul>
        </div>
    </div>
</div>