<body>
  <header>
    <img src="top.png" alt="Header Bumame" style="width: 100%;">
  </header>

  <footer>
    <div style="width: 100%; height: 100%;">
      <img src="bottom.png" alt="Footer Bumame" style="width: 100%;">
    </div>
  </footer>

  <div class="content">
    <div class="report-title" style="text-align: center; margin-bottom: 2rem;">
      <h3 style="font-weight: bold; margin: 0px;">Medical Check Up Report</h3>
      <h4 style="font-weight: 600; margin: 0px;">( PT. GWS Medika Prima (PT Buana Tunas Sejahtera, PT. Cahaya Unggul Prima, PT. Dinamika Multi Prakarsa, PT. Dutanusa Lestari, PT. Kapuasindo Palm Industry, PT. Perkasamas Langgeng, PT. Sentrakarya Manunggal) )</h4>
    </div>

    <!-- Prescreening Test Section -->
    <div class="section">
      {% with is_show_photo=true %}
        {% include "identity-section.html" %}
      {% endwith %}

      <div class="sub-section">
        <p class="sub-section-title">KELUHAN SEKARANG</p>
        <div>
          <p class="sub-section-subtitle">I. RIWAYAT PENYAKIT SENDIRI</p>
          <ul class="group-info">
            <li>
              <p class="group-info-label">a. Riwayat Hepatitis</p>
              <p class="group-info-value">: Tidak Ada</p>
            </li>
            <li>
              <p class="group-info-label">a. Riwayat Hepatitis</p>
              <p class="group-info-value">: Tidak Ada</p>
            </li>
            <li>
              <p class="group-info-label">a. Riwayat Hepatitis</p>
              <p class="group-info-value">: Tidak Ada</p>
            </li>
            <li>
              <p class="group-info-label">a. Riwayat Hepatitis</p>
              <p class="group-info-value">: Tidak Ada</p>
            </li>
            <li>
              <p class="group-info-label">a. Riwayat Hepatitis</p>
              <p class="group-info-value">: Tidak Ada</p>
            </li>
            <li>
              <p class="group-info-label">a. Riwayat Hepatitis</p>
              <p class="group-info-value">: Tidak Ada</p>
            </li>
            <li>
              <p class="group-info-label">a. Riwayat Hepatitis</p>
              <p class="group-info-value">: Tidak Ada</p>
            </li>
            <li>
              <p class="group-info-label">a. Riwayat Hepatitis</p>
              <p class="group-info-value">: Tidak Ada</p>
            </li>
            <li>
              <p class="group-info-label">a. Riwayat Hepatitis</p>
              <p class="group-info-value">: Tidak Ada</p>
            </li>
          </ul>
        </div>
        <div>
          <p class="sub-section-subtitle">II. RIWAYAT PENYAKIT KELUARGA</p>
          <ul class="group-info">
            <li>
              <p class="group-info-label">a. Riwayat Hepatitis</p>
              <p class="group-info-value">: Tidak Ada</p>
            </li>
            <li>
              <p class="group-info-label">a. Riwayat Hepatitis</p>
              <p class="group-info-value">: Tidak Ada</p>
            </li>
            <li>
              <p class="group-info-label">a. Riwayat Hepatitis</p>
              <p class="group-info-value">: Tidak Ada</p>
            </li>
            <li>
              <p class="group-info-label">a. Riwayat Hepatitis</p>
              <p class="group-info-value">: Tidak Ada</p>
            </li>
            <li>
              <p class="group-info-label">a. Riwayat Hepatitis</p>
              <p class="group-info-value">: Tidak Ada</p>
            </li>
            <li>
              <p class="group-info-label">a. Riwayat Hepatitis</p>
              <p class="group-info-value">: Tidak Ada</p>
            </li>
            <li>
              <p class="group-info-label">a. Riwayat Hepatitis</p>
              <p class="group-info-value">: Tidak Ada</p>
            </li>
            <li>
              <p class="group-info-label">a. Riwayat Hepatitis</p>
              <p class="group-info-value">: Tidak Ada</p>
            </li>
            <li>
              <p class="group-info-label">a. Riwayat Hepatitis</p>
              <p class="group-info-value">: Tidak Ada</p>
            </li>
          </ul>
        </div>
        <div>
          <p class="sub-section-subtitle">III. KEBIASAAN</p>
          <ul class="group-info">
            <li>
              <p class="group-info-label">a. Riwayat Hepatitis</p>
              <p class="group-info-value">: Tidak Ada</p>
            </li>
            <li>
              <p class="group-info-label">a. Riwayat Hepatitis</p>
              <p class="group-info-value">: Tidak Ada</p>
            </li>
            <li>
              <p class="group-info-label">a. Riwayat Hepatitis</p>
              <p class="group-info-value">: Tidak Ada</p>
            </li>
            <li>
              <p class="group-info-label">a. Riwayat Hepatitis</p>
              <p class="group-info-value">: Tidak Ada</p>
            </li>
            <li>
              <p class="group-info-label">a. Riwayat Hepatitis</p>
              <p class="group-info-value">: Tidak Ada</p>
            </li>
            <li>
              <p class="group-info-label">a. Riwayat Hepatitis</p>
              <p class="group-info-value">: Tidak Ada</p>
            </li>
            <li>
              <p class="group-info-label">a. Riwayat Hepatitis</p>
              <p class="group-info-value">: Tidak Ada</p>
            </li>
            <li>
              <p class="group-info-label">a. Riwayat Hepatitis</p>
              <p class="group-info-value">: Tidak Ada</p>
            </li>
            <li>
              <p class="group-info-label">a. Riwayat Hepatitis</p>
              <p class="group-info-value">: Tidak Ada</p>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Pemeriksaan Fisik Section -->
    <div class="section">
      {% with is_show_photo=false %}
        {% include "identity-section.html" %}
      {% endwith %}

      <div class="sub-section">
        <p class="sub-section-title">PEMERIKSAAN FISIK</p>
        <div>
          <ul class="group-info">
            <li>
              <p class="group-info-label" style="font-weight: bold;">Kulit</p>
              <p class="group-info-value">: Normal</p>
            </li>
            <li>
              <p class="group-info-label" style="font-weight: bold;">Kulit</p>
              <p class="group-info-value">: Normal</p>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Tanda-Tanda Vital & Visus Section -->
    <div class="section">
      {% with is_show_photo=false %}
        {% include "identity-section.html" %}
      {% endwith %}

      <div class="sub-section">
        <p class="sub-section-title">TANDA VITAL</p>
        <div>
          <ul class="group-info">
            <li>
              <p class="group-info-label" style="font-weight: bold;">Tensi (mmHg)</p>
              <p class="group-info-value">: 133/88 mmhg</p>
            </li>
            <li>
              <p class="group-info-label" style="font-weight: bold;">Tensi (mmHg)</p>
              <p class="group-info-value">: 133/88 mmhg</p>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Conclusion Section -->
    <div class="section">

      <div class="sub-section">
        <p class="sub-section-title">KESIMPULAN</p>
        <div>
          <ul class="group-info">
            <li>
              <p class="group-info-label" style="font-weight: bold;">Tensi (mmHg)</p>
              <p class="group-info-value">: 133/88 mmhg</p>
            </li>
            <li>
              <p class="group-info-label" style="font-weight: bold;">Tensi (mmHg)</p>
              <p class="group-info-value">: 133/88 mmhg</p>
            </li>
          </ul>
        </div>
      </div>

      <div class="sub-section">
        <p class="sub-section-title">SARAN</p>
        <div>
          <p style="margin: 0">Olahraga ringan rutin 3x dalam seminggu dalam durasi 30-45 menit, menjaga
            asupan makan, cukup asupan air putih, makan bergizi dan nutrisi seimbang,
            beristirahat yang cukup, mengelola stres dengan baik, lakukan pemeriksaan
            tekanan darah secara berkala di fasilitas kesehatan, diet rendah lemak, konsultasi
            dengan dokter spesialis gizi terkait berat badan berlebih, konsultasi dengan dokter
            spesialis penyakit dalam terkait hasil laboratorium, konsultasi dengan dokter
            spesialis paru terkait hasil rontgen. Lakukan MCU 1 tahun mendatang.</p>
        </div>
      </div>

      <div class="sub-section">
        <p class="sub-section-title">ANALISA</p>
        <div>
          <p style="margin: 0">Fit with note</p>
        </div>      
      </div>

      <div class="sub-section" style="margin-top: 2rem;">
        <div style="display: block; width: 100%; float: left; text-align: right;">
          <p style="font-weight: bold; margin: 0;">Dokter Pemeriksa</p>
          <img src="internal_reza_signature.png" alt="Signature" style="width: 150px;">
          <p style="font-weight: bold; margin: 0;">dr. Muhammad Reza Kurniawan</p>
        </div>
        <div style="clear: both;"></div>
      </div>

    </div>

    <!-- Laboratory Section -->
    <div class="section">
      {% with is_show_photo=false %}
        {% include "laboratory-identity-section.html" %}
      {% endwith %}

      <div class="sub-section">
        <table>
          <thead>
            <tr style="background-color: #f0f0f0;">
              <th style="width: 32%; text-align: center;">PEMERIKSAAN</th>
              <th style="width: 15%; text-align: center;">HASIL</th>
              <th style="width: 15%; text-align: center;">SATUAN</th>
              <th style="width: 18%; text-align: center;">NILAI RUJUKAN</th>
              <th style="width: 20%; text-align: center;">KETERANGAN</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th colspan="5" style="padding-left: 10px; background-color: #d2ecff; text-align: left;">HEMATOLOGI</th>
            </tr>
            <tr>
              <td style="text-align: left; padding-left: 10px;">Hemoglobin (HGB)</td>
              <td>15.0 g/dL</td>
              <td>g/dL</td>
              <td>13.5 - 17.5</td>
              <td>Normal</td>
            </tr>
            <tr>
              <td style="text-align: left; padding-left: 10px;">Hemoglobin (HGB)</td>
              <td>15.0 g/dL</td>
              <td>g/dL</td>
              <td>13.5 - 17.5</td>
              <td>Normal</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="sub-section" style="margin-top: 2rem;">
        <div style="display: block; width: 50%; float: left;">
            <p style="font-weight: bold; margin: 0;">Penanggung Jawab Laboratorium</p>
            <img src="internal_reza_signature.png" alt="Signature" style="width: 150px;">
            <p style="font-weight: bold; margin: 0;">dr. Muhammad Reza Kurniawan</p>
        </div>
        <div style="display: block; width: 50%; float: left; text-align: right;">
          <p style="font-weight: bold; margin: 0;">Diperiksa Oleh</p>
          <img src="internal_reza_signature.png" alt="Signature" style="width: 150px;">
          <p style="font-weight: bold; margin: 0;">dr. Muhammad Reza Kurniawan</p>
        </div>
        <div style="clear: both;"></div>
      </div>
    </div>

    <!-- Electromedical Section -->
    <div class="section">
      <div class="sub-section">
        <h3 style="font-weight: bold; margin: 0; text-align: center;">Pemeriksaan Radiologi - Rontgen Thorax</h3>
        <p style="margin: 0; font-style: italic; text-align: center;">(Gambar/grafik terlampir di halaman akhir)</p>
      </div>
      <div class="sub-section">
        <div>
          <p style="font-weight: bold; margin: 0;">Cor:</p>
          <p style="margin: 0;">Cor tidak membesar.</p>
        </div>
      </div>
      <div class="sub-section">
        <div>
          <p style="font-weight: bold; margin: 0;">Aorta:</p>
          <p style="margin: 0;">• Kalsifikasi aorta (-).<br>• Elongatio aorta (-).</p>
        </div>
      </div>
      <div class="sub-section">
        <p style="margin: 0; font-style: italic;">*Dokumen Hasil Pemeriksaan ini tidak membutuhkan tanda tangan basah karena telah divalidasi dan dihasilkan oleh Sistem Informasi Bumame</p>
      </div>
    </div>

    <div class="section">
      <div class="sub-section">
        <h3 style="font-weight: bold; margin: 0; text-align: center;">Lampiran Pemeriksaan Radiologi - Rontgen Thorax</h3>
      </div>
      <div class="sub-section">
        <img src="sample-elektromedis.png" alt="Signature" style="width: 100%;">
      </div>
    </div>


  </div>
</body>
