<style>.text-warning { color: red; font-weight: bold; }</style>
<body>
  <header>
    <img src="{{ header_image_url }}" alt="Header Bumame" style="width: 100%;">
  </header>

  <footer>
    <div style="width: 100%; height: 100%;">
      <img src="{{ footer_image_url }}" alt="Footer Bumame" style="width: 100%;">
    </div>
  </footer>

  <div class="content">
    <div class="report-title" style="text-align: center; margin-bottom: 2rem;">
      <h3 style="font-weight: bold; margin: 0px;">Medical Check Up Report</h3>
      <h4 style="font-weight: 600; margin: 0px;">( {{ patient_data.company }} )</h4>
    </div>

    <!-- Prescreening Test Section -->
    {% if prescreening_test_data and prescreening_test_data|length > 0 %}
    <div class="section">
      {% with is_show_photo=true %}
        {% include "identity-section.html" %}
      {% endwith %}

      <div class="sub-section">
        <p class="sub-section-title">KELUHAN SEKARANG</p>
        {% for item in prescreening_test_data %}
          <div>
            <p class="sub-section-subtitle">{{ item.title }}</p>
            <ul class="group-info">
              {% for data in item.data %}
                <li>
                  <p class="group-info-label">{{ data[0] }}</p>
                  <p class="group-info-value">: {{ data[1] }}</p>
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endfor %}
      </div>
    </div>
    {% endif %}

    <!-- Pemeriksaan Fisik Section -->
    {% if physical_examination_data and physical_examination_data|length > 0 %}
    <div class="section">
      {% with is_show_photo=false %}
        {% include "identity-section.html" %}
      {% endwith %}

      <div class="sub-section">
        <p class="sub-section-title">PEMERIKSAAN FISIK</p>
        <div>
          <ul class="group-info">
            {% for item in physical_examination_data %}
              <div>
                <p class="sub-section-subtitle">{{ item.title }}</p>
                <ul class="group-info">
                  {% for data in item.data %}
                    <li>
                      <p class="group-info-label style="font-weight: bold;">{{ data[0] }}</p>
                      <p class="group-info-value">: {{ data[1] }}</p>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    {% endif %}

    <!-- Tanda-Tanda Vital & Visus Section -->
    {% if vital_signs_data and vital_signs_data|length > 0 %}
    <div class="section">
      {% with is_show_photo=false %}
        {% include "identity-section.html" %}
      {% endwith %}

      <div class="sub-section">
        <p class="sub-section-title">TANDA VITAL</p>
        <div>
          <ul class="group-info">
            {% for item in vital_signs_data %}
              <div>
                <p class="sub-section-subtitle">{{ item.title }}</p>
                <ul class="group-info">
                  {% for data in item.data %}
                    <li>
                      <p class="group-info-label style="font-weight: bold;">{{ data[0] }}</p>
                      <p class="group-info-value">: {{ data[1] }}</p>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    {% endif %}

    <!-- Conclusion Section -->
    <div class="section">
      {% if conclusions_data and conclusions_data|length > 0 %}
      <div class="sub-section">
        <p class="sub-section-title">KESIMPULAN</p>
        <div>
          <ul class="group-info">
            {% for item in conclusions_data %}
              <li>
                <p class="group-info-label" style="font-weight: bold;">{{ item[0] }}</p>
                <p class="group-info-value">: {{ item[1] }}</p>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      {% endif %}

      {% if advice_data and advice_data|length > 0 %}
      <div class="sub-section">
        <p class="sub-section-title">SARAN</p>
        <div>
          <p style="margin: 0">{{ advice_data }}</p>
        </div>
      </div>
      {% endif %}

      {% if analysis_data and analysis_data|length > 0 %}
      <div class="sub-section">
        <p class="sub-section-title">ANALISA</p>
        <div>
          <p style="margin: 0">{{ analysis_data }}</p>
        </div>      
      </div>
      {% endif %}

      <div class="sub-section" style="margin-top: 2rem;">
        <div style="display: block; width: 100%; float: left; text-align: right;">
          <p style="font-weight: bold; margin: 0;">{{ dokter_pemeriksa_data.title }}</p>
          <img src="{{ dokter_pemeriksa_data.signature_url }}" alt="Signature" style="width: 150px;">
          <p style="font-weight: bold; margin: 0;">{{ dokter_pemeriksa_data.name }}</p>
        </div>
        <div style="clear: both;"></div>
      </div>

    </div>

    <!-- Laboratory Section -->
    <div class="section">
      {% with is_show_photo=false %}
        {% include "laboratory-identity-section.html" %}
      {% endwith %}

      <div class="sub-section">
        <table>
          <thead>
            <tr style="background-color: #f0f0f0;">
              <th style="width: 32%; text-align: center;">PEMERIKSAAN</th>
              <th style="width: 15%; text-align: center;">HASIL</th>
              <th style="width: 15%; text-align: center;">SATUAN</th>
              <th style="width: 18%; text-align: center;">NILAI RUJUKAN</th>
              <th style="width: 20%; text-align: center;">KETERANGAN</th>
            </tr>
          </thead>
          <tbody>
            {% for item in lab_section_data %}
            <tr>
              <th colspan="5" style="padding-left: 10px; background-color: #d2ecff; text-align: left;">{{ item.title }}</th>
            </tr>
              {% for test in item.tests %}
              <tr>
                <td style="text-align: left; padding-left: 10px;">{{ test.name }}</td>
                <td {% if test.is_contain_asterisk %}class="text-warning"{% endif %}>{{ test.hasil }}</td>
                <td>{{ test.satuan }}</td>
                <td>{{ test.nilai_rujukan }}</td>
                <td>{{ test.keterangan }}</td>
              </tr>
              {% endfor %}
            {% endfor %}
          </tbody>
        </table>
      </div>

      <div class="sub-section" style="margin-top: 2rem;">
        <div style="display: block; width: 50%; float: left;">
            <p style="font-weight: bold; margin: 0;">{{ penanggung_jawab_lab_data.title }}</p>
            <img src="{{ penanggung_jawab_lab_data.signature_url }}" alt="Signature" style="width: 150px;">
            <p style="font-weight: bold; margin: 0;">{{ penanggung_jawab_lab_data.name }}</p>
        </div>
        <div style="display: block; width: 50%; float: left; text-align: right;">
          <p style="font-weight: bold; margin: 0;">{{ diperiksa_oleh_data.title }}</p>
          <img src="{{ diperiksa_oleh_data.signature_url }}" alt="Signature" style="width: 150px;">
          <p style="font-weight: bold; margin: 0;">{{ diperiksa_oleh_data.name }}</p>
        </div>
        <div style="clear: both;"></div>
      </div>
    </div>

    <!-- Electromedical Section -->
    {% if electromedical_data and electromedical_data|length > 0 %}
    {% for item in electromedical_data %}
    <div class="section">
      <div class="sub-section">
        <h3 style="font-weight: bold; margin: 0; text-align: center;">{{ item.title }}</h3>
        <p style="margin: 0; font-style: italic; text-align: center;">(Gambar/grafik terlampir di halaman akhir)</p>
      </div>
      {% for data in item.data %}
      <div class="sub-section">
        <div>
          <p style="font-weight: bold; margin: 0;">{{ data[0] }}:</p>
          <p style="margin: 0;">{{ data[1] }}</p>
        </div>
      </div>
      {% endfor %}
      <div class="sub-section">
        <p style="margin: 0; font-style: italic;">*Dokumen Hasil Pemeriksaan ini tidak membutuhkan tanda tangan basah karena telah divalidasi dan dihasilkan oleh Sistem Informasi Bumame</p>
      </div>
    </div>
    {% endfor %}
    {% endif %}

    {% if electromedical_data and electromedical_data|length > 0 %}
    {% for item in electromedical_data %}
    <div class="section">
      <div class="sub-section">
        <h3 style="font-weight: bold; margin: 0; text-align: center;">Lampiran {{ item.title }}</h3>
      </div>
      <div class="sub-section">
        <img src="{{ item.url }}" alt="Signature" style="width: 100%;">
      </div>
    </div>
    {% endfor %}
    {% endif %}

  </div>
</body>
