<style>
@font-face {
  font-family: 'PT Serif';
  src: url('PTSerif-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PT Serif';
  src: url('PTSerif-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'PT Serif';
  src: url('PTSerif-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

body {
  font-family: 'PT Serif', serif;
}

p {
  font-size: 14px;
}

.text-warning { color: red; font-weight: bold; }
</style>
<body>
  <header>
    <img src="{{ header_image_url }}" alt="Header Bumame" style="width: 100%;">
  </header>

  <footer>
    <div style="width: 100%; height: 100%;">
      <img src="{{ footer_image_url }}" alt="Footer Bumame" style="width: 100%;">
    </div>
  </footer>

  <div class="content">
    <div class="report-title" style="text-align: center; margin-bottom: 2rem;">
      <h3 style="font-weight: bold; margin: 0px;">Medical Check Up Report</h3>
      <h4 style="font-weight: bold; margin: 0px;">( {{ patient_data.company }} )</h4>
    </div>

    <!-- Prescreening Test Section -->
    {% if prescreening_test_data and prescreening_test_data|length > 0 %}
    <div class="section">
      {% with is_show_photo=true %}
        {% include "identity-section.html" %}
      {% endwith %}

      <div class="sub-section">
        <p class="sub-section-title">KELUHAN SEKARANG</p>
        {% for item in prescreening_test_data %}
          <div class="keep-together">
            <p class="sub-section-subtitle">{{ item.title }}</p>
            <ul class="group-info">
              {% for data in item.data %}
                <li>
                  <p class="group-info-label">{{ data[0] }}</p>
                  <p class="group-info-value">: {{ data[1] }}</p>
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endfor %}
      </div>
    </div>
    {% endif %}

    <!-- Pemeriksaan Fisik Section -->
    {% if physical_examination_data and physical_examination_data|length > 0 %}
    <div class="section">
      {% with is_show_photo=false %}
        {% include "identity-section.html" %}
      {% endwith %}

      <div class="sub-section">
        <p class="sub-section-title">PEMERIKSAAN FISIK</p>
        <div>
          <ul class="group-info">
            {% for item in physical_examination_data %}
              <div class="keep-together">
                <p class="sub-section-subtitle" style="text-decoration: underline;">{{ item.title }}</p>
                <ul class="group-info" style="margin-left: 12px;">
                  {% for data in item.data %}
                    <li>
                      <p class="group-info-label style="font-weight: bold;">{{ data[0] }}</p>
                      <p class="group-info-value">: {{ data[1] }}</p>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    {% endif %}

    <!-- Tanda-Tanda Vital & Visus Section -->
    {% if vital_signs_data and vital_signs_data|length > 0 %}
    <div class="section">
      {% with is_show_photo=false %}
        {% include "identity-section.html" %}
      {% endwith %}

      <div class="sub-section">
        <p class="sub-section-title">TANDA-TANDA VITAL & VISUS</p>
        <div>
          <ul class="group-info">
            {% for item in vital_signs_data %}
              <div class="keep-together">
                <p class="sub-section-subtitle" style="text-decoration: underline;">{{ item.title }}</p>
                <ul class="group-info" style="margin-left: 12px;">
                  {% for data in item.data %}
                    <li>
                      <p class="group-info-label style="font-weight: bold;">{{ data[0] }}</p>
                      <p class="group-info-value">: {{ data[1] }}</p>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    {% endif %}

    <!-- Conclusion Section -->
    <div class="section">
      {% if conclusions_data and conclusions_data|length > 0 %}
      <div class="sub-section">
        <p class="sub-section-title">KESIMPULAN</p>
        <div>
          <ul class="group-info">
            {% for item in conclusions_data %}
              <li>
                <p class="group-info-label" style="font-weight: bold; width: 20%;">{{ item[0] }}</p>
                <p class="group-info-value">: {{ item[1] }}</p>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      {% endif %}

      {% if advice_data and advice_data|length > 0 %}
      <div class="sub-section">
        <p class="sub-section-title">SARAN</p>
        <div>
          <p style="margin: 0">{{ advice_data }}</p>
        </div>
      </div>
      {% endif %}

      <div class="keep-together">
        {% if analysis_data and analysis_data|length > 0 %}
        <div class="sub-section">
          <p class="sub-section-title">ANALISA</p>
          <div>
            <p style="margin: 0">{{ analysis_data }}</p>
          </div>      
        </div>
        {% endif %}

        <div class="sub-section" style="margin-top: 2rem;">
          <div style="display: block; width: 100%; float: left; text-align: right;">
            <p style="font-weight: bold; margin: 0;">{{ dokter_pemeriksa_data.title }}</p>
            <img src="{{ dokter_pemeriksa_data.signature_url }}" alt="Signature" style="height: 80px;">
            <p style="font-weight: bold; margin: 0;">{{ dokter_pemeriksa_data.name }}</p>
          </div>
          <div style="clear: both;"></div>
        </div>
      </div>

    </div>

    <!-- Laboratory Section -->
    <div class="section">
      {% with is_show_photo=false %}
        {% include "laboratory-identity-section.html" %}
      {% endwith %}

      <div class="sub-section">
        <table style="font-size: 14px;">
          <thead>
            <tr style="background-color: #f0f0f0;">
              <th style="width: 32%; text-align: center; padding: 0 4px;">PEMERIKSAAN</th>
              <th style="width: 15%; text-align: center; padding: 0 4px;">HASIL</th>
              <th style="width: 15%; text-align: center; padding: 0 4px;">SATUAN</th>
              <th style="width: 18%; text-align: center; padding: 0 4px;">NILAI RUJUKAN</th>
              <th style="width: 20%; text-align: center; padding: 0 4px;">KETERANGAN</th>
            </tr>
          </thead>
        </table>
        {% for item in lab_section_data %}
        <div>
          {% if loop.last %}
          <div class="keep-together">
          {% endif %}
          <table style="font-size: 14px;">
            <tbody>
              <tr>
                <th colspan="5" style="padding-left: 10px; padding-top: 0; padding-bottom: 0; background-color: #d2ecff; text-align: left;">{{ item.title }}</th>
              </tr>
                {% for test in item.tests %}
                <tr>
                  <td style="width: 32%; text-align: left; padding-left: 10px; padding-top: 0; padding-bottom: 0; margin: 0;">{{ test.name }}</td>
                  <td {% if test.is_contain_asterisk %}class="text-warning"{% endif %} style="width: 15%; padding-top: 0; padding-bottom: 0;">{{ test.hasil }}</td>
                  <td style="width: 15%;padding-top: 0; padding-bottom: 0;">{{ test.satuan }}</td>
                  <td style="width: 18%;padding-top: 0; padding-bottom: 0;">{{ test.nilai_rujukan }}</td>
                  <td style="padding-top: 0; padding-bottom: 0;">{{ test.keterangan }}</td>
                </tr>
                {% endfor %}
            </tbody>
          </table>
          {% if loop.last %}
            <div class="signatures-section" style="margin-top: 2rem; display: table; width: 100%;">
              <div style="display: table-cell; width: 50%; padding-right: 1rem;">
                  <p style="font-weight: bold; margin: 0;">{{ penanggung_jawab_lab_data.title }}</p>
                  <img src="{{ penanggung_jawab_lab_data.signature_url }}" alt="Signature" style="height: 80px;">
                  <p style="font-weight: bold; margin: 0;">{{ penanggung_jawab_lab_data.name }}</p>
              </div>
              <div style="display: table-cell; width: 50%; text-align: right;">
                <p style="font-weight: bold; margin: 0;">{{ diperiksa_oleh_data.title }}</p>
                <img src="{{ diperiksa_oleh_data.signature_url }}" alt="Signature" style="height: 80px;">
                <p style="font-weight: bold; margin: 0;">{{ diperiksa_oleh_data.name }}</p>
              </div>
            </div>
          </div>
          {% endif %}
        </div>
        {% endfor %}
      </div>
    </div>

    <!-- Electromedical Section -->
    {% if electromedical_data and electromedical_data|length > 0 %}
    {% for item in electromedical_data %}
      <div class="section">
        <div class="sub-section">
          <h3 style="font-weight: bold; margin: 0; text-align: center;">{{ item.title }}</h3>
          {% if item.key != "audiometri" %}
            <p style="margin: 0; font-style: italic; text-align: center; font-size: 12px;">(Gambar/grafik terlampir di halaman akhir)</p>
          {% endif %}
        </div>
        {% if item.key == "audiometri" %}
          <div class="sub-section" style="text-align: center;">
            <img src="{{ item.url }}" alt="Signature" style="width: 80%;">
          </div>
            <!-- [{'label': 'Telinga Kanan (AC)', 'data': [{'frequency': 250, 'value': 20}, {'frequency': 500, 'value': 20}, {'frequency': 1000, 'value': 20}, {'frequency': 2000, 'value': 20}, {'frequency': 3000, 'value': 25}, {'frequency': 4000, 'value': 25}, {'frequency': 6000, 'value': 20}, {'frequency': 8000, 'value': 25}]}, {'label': 'Telinga Kiri (AC)', 'data': [{'frequency': 250, 'value': 20}, {'frequency': 500, 'value': 20}, {'frequency': 1000, 'value': 20}, {'frequency': 2000, 'value': 25}, {'frequency': 3000, 'value': 25}, {'frequency': 4000, 'value': 25}, {'frequency': 6000, 'value': 25}, {'frequency': 8000, 'value': 25}] -->
            {% if item.diagnosis %}
              {% for diagnosis_item in item.diagnosis %}
              <div class="sub-section">
                  <p style="font-weight: bold; margin: 0;">{{ diagnosis_item.label }}</p>
                  <table>
                      <tr>
                        {% for item_audiometri in diagnosis_item.data %}
                          <td>
                            {{ item_audiometri.frequency }} Hz
                          </td>
                        {% endfor %}
                      </tr>
                      <tr>
                        {% for item_audiometri in diagnosis_item.data %}
                          <td>
                            {{ item_audiometri.value }} dB
                          </td>
                        {% endfor %}
                      </tr>
                  </table>
              </div>

              {% endfor %}
            {% endif %}
        {% endif %}

        {% for data in item.data %}
        <div class="sub-section">
          <div>
            <p style="font-weight: bold; margin: 0;">{{ data[0] }}:</p>
            <p style="margin: 0;">{{ data[1] }}</p>
          </div>
        </div>
        {% endfor %}
        <div class="sub-section">
          <p style="margin: 0; font-style: italic; font-size: 12px;">*Dokumen Hasil Pemeriksaan ini tidak membutuhkan tanda tangan basah karena telah divalidasi dan dihasilkan oleh Sistem Informasi Bumame</p>
        </div>
      </div>
    {% endfor %}
    {% endif %}

    <!-- Lampiran Electromedical Section -->

    {% if electromedical_data and electromedical_data|length > 0 %}
    {% for item in electromedical_data %}
      {% if item.key != "audiometri" %}
      <div class="section">
        <div class="sub-section">
          <h3 style="font-weight: bold; margin: 0; text-align: center;">Lampiran {{ item.title }}</h3>
        </div>
        <div class="sub-section" style="text-align: center;">
          <img src="{{ item.url }}" alt="Signature" {% if item.is_landscape %}style="width: 100%;"{% else %}style="height: 720px"{% endif %}>
        </div>
      </div>
      {% endif %}
    {% endfor %}
    {% endif %}

  </div>
</body>
